.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  position: fixed;
  top: 45px;
  width: 100%;
  box-sizing: border-box;
}

.screen-header__title {
  font-size: 22px;
  font-weight: 800;
}
.screen-header__icons {
  padding: 5px;
  align-items: center;
}
.screen-header__icons span {
  margin-left: 10px;
}
